# Model checkpoints (too large for GitHub)
Organized_Models/
checkpoints_*/
*.pt
*.bin
*.safetensors
*.zip

# Python


# # Model checkpoints (too large for GitHub)
# Organized_Models/
# checkpoints_*/
# *.pt
# *.bin
# *.safetensors
# *.zip
# 
# # Python
